<div>
    <div class="fflex" style="align-items: stretch">
        <sly-card title="Input Project #1" style="width: 33%" class="mr15">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId1}/datasets`">{{data.projectName1}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl1}` }"/>
            </sly-field>
        </sly-card>

        <sly-card title="Result project" style="width: 34%" class="mr15">
            <div class="fflex">
                <el-button
                        :disabled="!state.resultProjectId"
                        type="primary"
                        @click="command('merge')"
                        v-if="!data.createdProjectName"
                >
                    <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Run
                </el-button>
                <div class="ml5" v-if="!state.resultProjectId" style="color: red"> Result project undefined</div>
            </div>
            <sly-field v-if="data.createdProjectName" title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.createdProjectId}/datasets`">{{data.createdProjectName}}</a>
                <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                    <i class="zmdi zmdi-collection-folder-image"></i>
                </sly-icon>
            </sly-field>
        </sly-card>

        <sly-card title="Input Project #2" style="width: 33%">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId2}/datasets`">{{data.projectName2}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl2}` }"/>
            </sly-field>
        </sly-card>
    </div>

    <sly-card class="mt15" title="Compare Datasets" subtitle="Initial matching is performed using names of datasets and
                                                              their images. Click on number to preview images">
        <el-table class="ultra-table"
                  :data="data.table"
                  style="width: 100%"
                  :default-sort="{prop: 'left.name', order: 'ascending'}"
        >
            <el-table-column sortable prop="left.name" :label="`Project 1: Datasets`">
                <template scope="scope">
                    <div v-if="scope.row.left.name.length > 0">
                        <i class="zmdi zmdi-collection-image-o"></i>
                        <span class="ml5 mr10">{{ scope.row.left.name }}</span>
                        <span style="color: #7f858e;">
                            <i class="zmdi zmdi-equalizer"></i> {{ scope.row.left.count }} images
                        </span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="Compare">
                <template scope="scope">
                    <div v-for="(count, index) in scope.row.numbers">
                        <div v-if="count !== 0">
                            <div class="mt5" :style="{color: scope.row.color[index]}">
                                <span style="width: 25px; display: inline-block">
                                    <i v-for="icon in scope.row.icon[index]" :class="icon"></i>
                                </span>
                                <span style="text-decoration: underline; cursor: pointer;"
                                      @click="state.click = scope.row;
                                              state.clickIndex = index;
                                              command('show_images')">
                                    <span v-if="count > 0">{{count}}</span> {{scope.row.message[index]}}
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column sortable prop="right.name" :label="`Project 2: Datasets`">
                <template scope="scope">
                    <div v-if="scope.row.right.name.length > 0">
                        <i class="zmdi zmdi-collection-image-o"></i>
                        <span class="ml5 mr10">{{ scope.row.right.name }}</span>
                        <span style="color: #7f858e;">
                            <i class="zmdi zmdi-equalizer"></i> {{ scope.row.right.count }} images
                        </span>
                    </div>
                </template>
            </el-table-column>
        </el-table>

        <br/>
        <br/>
        <div class="mt5"><i class="zmdi zmdi-map mr5" style="width: 15px; display: inline-block"></i>Legend:</div>
        <div class="mt5">
            <span style="color: green"><i class="zmdi zmdi-check mr5" style="width: 15px; display: inline-block"></i>matched</span>
            - images have same names and same content
        </div>
        <div class="mt5">
            <span style="color: red"><i class="zmdi zmdi-close mr5" style="width: 15px; display: inline-block"></i>conflicts</span>
            - images have same names but different content
        </div>
        <div class="mt5">
            <span style="color: #20a0ff"><i class="zmdi zmdi-plus-circle-o mr5"
                                            style="width: 15px; display: inline-block"></i>unique</span>
            - images only present in one dataset
        </div>
        <div class="mt5">
            <span style="color: #F39C12"><i class="zmdi zmdi-folder-outline mr5"
                                            style="width: 15px; display: inline-block"></i>new dataset</span>
            - dataset present only in one project
        </div>
    </sly-card>
<!--    <pre>{{state.clickIndex}}</pre>-->
<!--    <pre>{{state.click}}</pre>-->
    <sly-card class="mt15"
              title="Images"
              subtitle="Click on number in 'Compare Datasets' table to preview images. ⚠️ Number of Matched images (of Conflicts)
              is multiplied by factor 2 because images are showed from both projects">
<!--        <div v-if="state.click">Selected left/right: {{state.click.left.name}} / {{state.click.right.name}}</div>-->
        <div class="mb5" v-if="state.click" :style="{color: state.click.color[state.clickIndex]}">
            <i v-for="icon in state.click.icon[state.clickIndex]" :class="icon"></i>
            <span v-if="state.click.numbers[state.clickIndex] > 0">{{state.click.numbers[state.clickIndex]}}</span>
            {{state.click.message[state.clickIndex]}}
        </div>
        <sly-table v-if="state.click"
                   :options="{perPage: 10, pageSizes: [10, 20, 50, 100]}"
                   :content='data.images'
        ></sly-table>
    </sly-card>

    <sly-card class="mt15" title="Settings" subtitle="Define merge options">
        <sly-field title="Merge strategy" description="unify (combine all images)  or intersect (keep only matched images)">
            <sly-icon slot="icon" :options="{ color: '#ceadff', bgColor: '#f6ebff', rounded: false }">
                <i class="zmdi zmdi-arrow-merge"></i>
            </sly-icon>
            <el-select v-model="state.merge">
                <el-option v-for="item in data.mergeOptions" :key="item" :label="item"
                           :value="item"></el-option>
            </el-select>
        </sly-field>
        <sly-field class="mt15" title="How to resolve conflicts" description="skip / use left / use right">
            <sly-icon slot="icon" :options="{ color: '#ff7070', bgColor: '#ffdbdb', rounded: false }">
                <i class="zmdi zmdi-alert-octagon"></i>
            </sly-icon>
            <el-select v-model="state.resolve">
                <el-option v-for="item in data.resolveOptions" :key="item" :label="item" :value="item"></el-option>
            </el-select>
        </sly-field>
        <sly-field class="mt15"
                   title="How to merge annotations on matched images"
                   description="Define settings for image tags, labels, and image metadata">
            <sly-icon slot="icon" :options="{ color: '#ff7070', bgColor: '#ffdbdb', rounded: false }">
                <i class="zmdi zmdi-alert-octagon"></i>
            </sly-icon>
            <div style="width: 120px">Image Tags</div>
            <el-select class="mt5 mb10" v-model="state.mergeTags">
                <el-option v-for="item in data.mergeTagsOptions" :key="item" :label="item" :value="item"></el-option>
            </el-select>
            <div style="width: 120px">Labels</div>
            <el-select class="mt5 mb10" v-model="state.mergeLabels">
                <el-option v-for="item in data.mergeLabelsOptions" :key="item" :label="item" :value="item"></el-option>
            </el-select>
            <div style="width: 120px">Image Metadata</div>
            <el-select class="mt5 mb10" v-model="state.mergeMetadata">
                <el-option v-for="item in data.mergeMetadataOptions" :key="item" :label="item" :value="item"></el-option>
            </el-select>
        </sly-field>
        <sly-field title="Result project" description="Choose empty project that was created with app 'Diff Merge Project Meta'">
            <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                <i class="zmdi zmdi-collection-folder-image"></i>
            </sly-icon>
            <sly-select-team-workspace :team-id.sync="state.teamId" :workspace-id.sync="state.workspaceId"/>
            <sly-select-project :workspace-id="state.workspaceId" :project-id.sync="state.resultProjectId" />
        </sly-field>
    </sly-card>
</div>