<div>
    <div class="fflex" style="align-items: stretch">
        <sly-card title="Input Project #1" style="width: 33%" class="mr15">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId1}/datasets`">{{data.projectName1}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl1}` }"/>
            </sly-field>
        </sly-card>

        <sly-card title="Result project" style="width: 34%" class="mr15">
            <div class="fflex">
                <el-button
                        :disabled="state.resultProjectName.length === 0"
                        type="primary"
                        @click="command('merge')"
                        v-if="!data.createdProjectName"
                >
                    <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Run
                </el-button>
                <div class="ml5" v-if="state.resultProjectName.length === 0" style="color: red"> Define project name
                </div>
            </div>
            <sly-field v-if="data.createdProjectName" title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.createdProjectId}/datasets`">{{data.createdProjectName}}</a>
                <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                    <i class="zmdi zmdi-collection-folder-image"></i>
                </sly-icon>
            </sly-field>
        </sly-card>

        <sly-card title="Input Project #2" style="width: 33%">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId2}/datasets`">{{data.projectName2}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl2}` }"/>
            </sly-field>
        </sly-card>
    </div>

    <sly-card class="mt15" title="Compare Datasets" subtitle="Click on the numbers to see corresponding images">
        <el-table class="ultra-table"
                  :data="data.table"
                  style="width: 100%"
                  :default-sort="{prop: 'left.name', order: 'ascending'}"
        >
            <el-table-column sortable prop="left.name" :label="`Project 1: Datasets`">
                <template scope="scope">
                    <div v-if="scope.row.left">
                        <i class="zmdi zmdi-collection-image-o"></i>
                        <span class="ml5 mr10">{{ scope.row.left.name }}</span>
                        <span style="color: #7f858e;">
                            <i class="zmdi zmdi-equalizer"></i> {{ scope.row.left.count }} images
                        </span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="Compare">
                <template scope="scope">
                    <div v-for="(count, index) in scope.row.numbers">
                        <div v-if="count > 0">
                            <div class="mt5" :style="{color: scope.row.color[index]}">
                                <span style="width: 25px; display: inline-block">
                                    <i v-for="icon in scope.row.icon[index]" :class="icon"></i>
                                </span>
                                <span style="text-decoration: underline; cursor: pointer;"
                                      @click="data.clickedName = {
                                        'name': scope.row.message[index],
                                        'left': scope.row.left,
                                        'right': scope.row.right,
                                      }">
                                    {{count}} {{scope.row.message[index]}}
                                </span>
<!--                                <el-button type="text">{{count}} {{scope.row.message[index]}}</el-button>-->
                            </div>
                        </div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column sortable prop="right.name" :label="`Project 2: Datasets`">
                <template scope="scope">
                    <div v-if="scope.row.right">
                        <i class="zmdi zmdi-collection-image-o"></i>
                        <span class="ml5 mr10">{{ scope.row.right.name }}</span>
                        <span style="color: #7f858e;">
                            <i class="zmdi zmdi-equalizer"></i> {{ scope.row.right.count }} images
                        </span>
                    </div>
                </template>
            </el-table-column>
        </el-table>

        <br/>
        <br/>
        <div class="mt5"><span style="color: green">matched</span> - images have the same names and same content</div>
        <div class="mt5"><span style="color: red">conflicts</span> - images have the same names but different content</div>
        <div class="mt5"><span style="color: #20a0ff">unique</span> - images only present in one dataset</div>

    </sly-card>
    {{data.clickedName}}
</div>